/* Beginning os second navigation */
.topnav a{
    font-size: 23px;
    font-family: calibri;
    color: cornsilk;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    width: 250px;
    border-radius: 10px;
    left: -185px;
    transition: 0.7s;
}
#a-1{
   position: absolute;
   top: 235px;
   background-color: darkgreen;
}
#a-2{
    position: absolute;
    top: 290px;
    background-color: darkmagenta;
}
#a-3{
    position: absolute;
    top: 345px;
    background-color: darkred;
}
#a-4{
    position: absolute;
    top: 400px;
    background-color: darkslategray;
}
#a-5{
    position: absolute;
    top: 455px;
    background-color: darkviolet;
}
#a-6{
    position: absolute;
    top: 510px;
    background-color: purple;
}
#a-7{
    position: absolute;
    top: 565px;
    background-color: chocolate;
}
#a-8{
    position: absolute;
    top: 620px;
    background-color: green;
}
.topnav a:hover{
    left: -60px;
    text-decoration: none;
}

        /* Beginning of Content */

            .square, .circle, .triangle, .cube, .cuboid, .cylinder, .sphere, .cone {
                height: 600px;
                width: 65%;
                border: 2px solid black;
                position: absolute;
                left: 20%;
                top: 15%;
                padding: 5%;
                visibility: hidden;
            }

            .btn-lg{
                margin-top: 15px;
            }

            .input-group-text{
                margin-left: 15px;
            }

        /* End of Content */
        /* End of second navigation */

          /* Media query  beginning*/
          @media screen and (max-width: 600px){
            .topnav a{
                font-size: 18px;
                font-family: calibri;
                color: cornsilk;
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: center;
                width: 130px;
                border-radius: 9px;
                left: -25px;
                transition: 0.7s;
            }
            .topnav a:hover{
                background-color: black;
                color: gold;
                left: -15px;
            }
        }

        @media screen and (max-width: 600px){
            .square, .circle, .triangle, .cube, .cuboid, .cylinder, .sphere, .cone {
                height: 450px;
                width: 65%;
                border: 2px solid black;
                position: absolute;
                left: 30%;
                top: 35%;
                padding: 5%;
                visibility: hidden;
                border-radius: 20px;
            }
        }

        @media screen and (max-width: 600px){
            .form-size{
                width: 150px;
            }
        }
        /* Media query end */
