/* Beginning os second navigation */
.topnav a{
    font-size: 23px;
    font-family: calibri;
    color: cornsilk;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    width: 250px;
    border-radius: 10px;
    left: -185px;
    transition: 0.7s;
}
#a-1{
   position: absolute;
   top: 235px;
   background-color: darkgreen;
}
#a-2{
    position: absolute;
    top: 300px;
    background-color: darkmagenta;
}
#a-3{
    position: absolute;
    top: 365px;
    background-color: darkred;
}
#a-4{
    position: absolute;
    top: 430px;
    background-color: darkslategray;
}
#a-5{
    position: absolute;
    top: 495px;
    background-color: darkviolet;
}
.topnav a:hover{
    left: -60px;
    text-decoration: none;
}

        /* End of second navigation */

        /* Beginning of the content */
    .data, .temp, .length, .weight, .time{
        height: 600px;
        width: 65%;
        border: 2px solid black;
        position: absolute;
        left: 20%;
        top: 15%;
        padding: 5%;
        visibility: hidden;
    }
    
    .btn-lg{
        margin-top: 15px;
    }
    .ans-data,.ans-data-2, .ans-data-3, .ans-data-4, .ans-data-5{
        border: 2px solid black;
        border-radius: 6px;
        padding: 3px 24px 3px 24px;
        margin-top: 10px;
    }
        /* End of the content */


        /* Media query  beginning*/
        @media screen and (max-width: 600px){
            .topnav a{
                font-size: 18px;
                font-family: calibri;
                color: cornsilk;
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: center;
                width: 130px;
                border-radius: 9px;
                left: -15px;
                transition: 0.7s;
            }
            .topnav a:hover{
                background-color: black;
                color: gold;
                left: -15px;
                left: -5px;
            }
        }

        @media screen and (max-width: 600px){
            .data, .temp, .length, .weight, .time{
                height: 400px;
                width: 60%;
                border: 2px solid black;
                position: absolute;
                left: 35%;
                top: 35%;
                padding: 5%;
                visibility: hidden;
                border-radius: 20px;
            }
        }
        @media screen and (max-width: 600px){
            .form-control-1, .form-control-2, .form-control-3, .form-control-4, .form-control-5{
                width: 100px;
            }
            h1{
                font-size: 30px;
            }
        }
        /* Media query end */
